/*폰트*/

@font-face {
    font-family: nanumSquareEB;
    src: url('src/fonts/NanumSquareEB.ttf');
}

@font-face {
    font-family: nanumSquareB;
    src: url('src/fonts/NanumSquareB.ttf');
}

/*애니메이션*/

@keyframes fadeIn {
    from {
      opacity:0;
    } to {
      opacity:1;
    }
}

@keyframes slideUp {
    from {
        margin-top: 3%;
        opacity: 0;
    } to {
        margin-top: 0%;
        opacity: 1;
    }
}

/*베이스*/

html, body { 
    width: 100%; height: 100%;
    min-height: auto;
}

body {
    margin: 0px;
}

.background {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainBox {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn.7s linear;

    overflow: auto;
}

.mainBox h1 {
    color: white;

    font-size: 96px;
    font-family: nanumSquareEB;
    text-align: center;

    margin: 0 auto;
    position: absolute;
    top: calc(50% - 80px); left: 50%;
    transform: translate(-50%, -50%);

    animation: slideUp.7s linear;
}

.mainBox h2 {
    color: white;

    font-size: 45px;
    font-family: nanumSquareB;
    text-align: center;

    margin: 0 auto;
    position: absolute;
    top: calc(50% + 80px); left: 50%;
    transform: translate(-50%, -50%);

    animation: slideUp.7s linear;
}

#container {
    text-align: center;
}

/*메뉴바*/

.menuBar {
    margin-left: auto; margin-right: auto;
    display: inline-block;
}

.menuBar button {
    float: left;
    
    border: none;
    background-color: white;

    font-size: 32px;
    font-family: nanumSquareB;
    text-align: center;

    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button {
    transition-duration: 0.4s;
}

/*본문*/

.pageBox {
    height: 1500px;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;

    animation: fadeIn.7s linear; 
}

.container {
    display: block;
    overflow: auto;

    padding-right: 15px;
    padding-left: 15px;

    text-align: center;
}

/*인트로*/

#profile {
    display: inline-block;
    padding-right: 50px;
}

#leftTextBox {
    display: inline-block;
    text-align: center;
}

#leftTextBox ul {
    float: left;
    text-align: left;

    padding-bottom: 25%;
}

#name {
    font-size: 32px;
    font-family: nanumSquareB;
    list-style: none;

    margin-left: -20px;
}

#leftTextBox ul li {
    font-size: 20px;
    font-family: nanumSquareB;
}

.title {
    font-size: 32px;
    font-family: nanumSquareB;
}

.skill {
    display: inline-block;
    padding: 0 2%;
}

.comment {
    font-family: nanumSquareB;
}

.textBox {
    font-size: 18px;
    font-family: nanumSquareB;

    width: 50%;
    margin: 0 auto;

    text-align: left;
}

/*연락*/

.iconBox {
    display: block;
    text-align: center;
}

.iconBox h1 {
    display: inline-block;

    font-size: 32px;
    font-family: nanumSquareB;

    margin:10px 0;
}

.icon {
    display: inline-block;

    width: 40px;
    vertical-align: middle;
}